.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,
.navigation {
  padding: 40px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.navigation:last-child {
  padding-right: 0;
}
